<div class="dashboard-container">
  <div class="welcome-section">
    <h1>Bienvenue dans votre espace acheteur, {{ username }}</h1>
    <p class="lead">Gérez vos factures et effectuez vos paiements en toute sécurité</p>
  </div>

  <div class="cards-grid">
    <div class="card-item" *ngFor="let card of dashboardCards">
      <div class="icon-wrapper">
        <i class="{{ card.icon }}"></i>
      </div>
      <h5>{{ card.title }}</h5>
      <p class="value">{{ card.value }}</p>
      <a [routerLink]="card.link" class="btn" [ngClass]="card.buttonClass">
        {{ card.buttonText }}
      </a>
    </div>
  </div>
</div>
